<main>
  <h2 class="list-users">List of Users</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Username</th>
        <th>Votes</th>
        <th>Joined</th>
      </tr>
    </thead>
    <tbody>
      <div class="user-info">
        <% User.all.each do |user| %>
          <tr>
            <td><%= link_to "#{user.username}", user_path(user.id) %></td>
            <td><%= user.votes.count %></td>
            <td><%= user.created_at.strftime("%b, %d, %Y") %></td>
            <tr>
          <% end %>
      </div>
    </tbody>
  </table>
  <a class="btn btn-secondary" href="/">Back to Media List</a>
</main>